<li class="work-details">

    <div class="work-img">
        <img src="{{ work.image.url }}" width="240" alt="{{ work.name }}: img error">
    </div>
    <div class="work-data">
        
        <p class="work-title">{{ work.name }}, {{ work.production_date }}</p>
        <p>{{ work.materials }}</p>
        <p>{{ work.height }} x {{ work.width }} cm</p>
        <p>{{ work.price }} €</p>
        
        <p class="work-status">{{ work.status.status }}: {{ work.storage_tag }}</p>
    </div>
    

    
    <div class="container">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">Verkaufen</button>

        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Verkaufstatus</h2>
                        <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ statusform.as_ul }}
                            </br>
                            <button class="btn btn-secondary">Speichern</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        Footer
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</li>