{%extends "databank/base/base.html"%} 
{% load static %} 
{% load bootstrap_icons %}

{%block title%}Lagerbestand{%endblock%} 

{%block body%}

    <div class="container-fluid">

                    <div class="row">
                        <div class="col-12 col-md-2 m-5 d-flex flex-column flex-md-row">
            <button class="btn btn-secondary me-md-2 mb-3 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                Artists
            </button>
            <div class="artist-list col-md-10">
                <ul class="artist-names list-unstyled m-2 fs-4 d-none d-md-block">
                {% for artist in artists %}
                <li class="mb-2">
                    <a href="{% url 'artistworks-page' artist.slug %}" class="active" aria-current="page">{{ artist.name }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
                <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarLabel">Artists</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                <ul class="artist-names list-unstyled m-2 fs-4 d-md-none">
                    {% for artist in artists %}
                    <li class="mb-2">
                    <a href="{% url 'artistworks-page' artist.slug %}" class="active" aria-current="page">{{ artist.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            </div>

            
            <div class="col-4 mt-5">
                <form method="POST" action="{% url 'create-pricelist' %}" target="_blank">
                    {% csrf_token %}
 
                    <div>
                        <ul class="list-unstyled">
                            {% for work in works%}
                                {% include "databank/includes/work_details.html" %}
                            {%endfor%}
                        </ul>
                    </div>
                    

                    <!-- Modal -->
                    <div class="modal fade" id="exhibitionModal" tabindex="-1" aria-labelledby="exhibitionModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exhibitionModalLabel">Ausstellungstitel</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <div class="mb-3">
                                    <label for="exhibitionTitle" class="col-form-label">Ausstellungstitel</label>
                                    <input type="text" class="form-control" id="exhibitionTitle" name="exhibition_title" placeholder="Eingabe...">
                                </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-dark" target="_blank" onclick="window.location.reload();">Erstellen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>    
            </div>
   

            <div class="col m-5">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Tag</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Käufer/in</th>
                            <th scope="col">Arbeit</th>
                            <th scope="col">Status</th>
                            <th scope="col">Export</th>
                        </tr>
                    </thead>
                    

                    <form action="{% url 'create-invoice' %}" method="POST" target="_blank">
                        {% csrf_token %}
                    <tbody>
                        {%for sale in works%}
                        {% include "databank/includes/stats.html"%}
                        {%endfor%} 
                                            
                    </tbody>
                </table>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Rechnungsformular</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            
                            <div class="mb-3">
                                <label for="invoice-number" class="form-label">Rechnungsnummer</label>
                                <input type="text" class="form-control" id="invoice-number" name="invoice-number" required>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Adresse</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                <label for="plz" class="form-label">PLZ</label>
                                <input type="text" class="form-control" id="plz" name="plz" required>
                                </div>
                                <div class="col-md-8">
                                <label for="city" class="form-label">Stadt</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="details" class="form-label">Zusatz Informationen</label>
                                <textarea class="form-control" id="details" name="details" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-dark" target="_blank" onclick="window.location.reload();">Erstellen</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   

{%endblock body%}