@font-face {
    font-family: "WeissenhofGrotesk-Light";
    src: url("/static/WeissenhofGrotesk-Light.otf");
}
@font-face {
    font-family: "WeissenhofGrotesk-Medium";
    src: url("/static/WeissenhofGrotesk-Medium.otf");
}


body {
    font-family: WeissenhofGrotesk-Light;
}

a {
    
    text-decoration: none;
    color: black;
}

.artist-names a {
    font-size: larger;
}

a:hover {
    color: rgb(190, 187, 187);
}

